<script>
$('ul.tabs').tabs();
</script>
<link rel="stylesheet" href="../css/datatable.css">
<script src="../js/dependencies/datatable.js"></script>
<div class="row">
      <ul class="card grey lighten-5 tabs col s12" style="overflow: hidden;">
        <li class="tab col s3"><a class="active" href="#test1">Pistas</a></li>
        <li class="tab col s3"><a href="#test2">Usuarios</a></li>
        <li class="tab col s3"><a href="#test3">Reservas</a></li>
      </ul>
    <div id="test1" class="col s12">
		<br/><br/>
		<section ng-controller="CourtController">
			<crude-pistas></crude-pistas>
		</section>
	</div>
    <div id="test2" class="col s12">
		<br/><br/>
		<section ng-controller="UserController">
			<crude-usuarios></crude-usuarios>
		</section>
	</div>
    <div id="test3" class="col s12">
		<br/><br/>
		<section ng-controller="ReservaController">
			<crude-reservas></crude-reservas>
		</section>
	</div>
</div>