<div ng-show="!AppAuth.status" ng-hide="AppAuth.status">
	<div style="height: 250px;" class="valign-wrapper  center-align row">
		<div class="col s6">
			<span class="valign center-block"><a class="valign"
			href="#/app/users/login"><button class="btn btn-primary">Iniciar sesión</button></a></span>
		</div>
		<div class="col s6">
		<span class="valign center-block"><a class="btn btn-primary modal-trigger"
			href="#/app/users/create">Registrarse</a></span>
		</div>
	</div>


	<div class="row">
		<div class="col s4">
			<div class="center promo promo-example">
				<i class="large material-icons">flash_on</i>
				<p class="promo-caption">Speeds up development</p>
				<p class="light center">We did most of the heavy lifting for
					you to provide a default stylings that incorporate our custom
					components.</p>
			</div>
		</div>
		<div class="col s4">
			<div class="center promo promo-example">
				<i class="large material-icons">group</i>
				<p class="promo-caption">User Experience Focused</p>
				<p class="light center">By utilizing elements and principles of
					Material Design, we were able to create a framework that focuses
					on User Experience.</p>
			</div>
		</div>
		<div class="col s4">
			<div class="center promo promo-example">
				<i class="large material-icons">settings</i>
				<p class="promo-caption">Easy to work with</p>
				<p class="light center">We have provided detailed documentation
					as well as specific code examples to help new users get started.</p>
			</div>
		</div>
	</div>
</div>

<div ng-show="AppAuth.status" ng-hide="!AppAuth.status" class="row">
<div class="col s8 offset-s2">
  <div class="card">
	<div class="card-image">
	  <img src="images/imagen-prueba-2.jpg">
	  <span class="card-title">¡Bienvenido, {{AppAuth.username}}!</span>
	</div>
	<div class="card-content">
	  <p>Esta es tu página principal. Puedes acceder a todos tus datos para consultarlos y modificarlos. También puedes ver el listado de reservas que has realizado últimamente.</p>
	</div>
	<div class="card-action">
	  <a href="#/app/users/modify/{{AppAuth.id}}">Editar mis datos</a>
	</div>
  </div>

	<section ng-controller="ReservaController">
		<link rel="stylesheet" href="../css/datatable.css">
		<crude-misreservas></crude-misreservas>
	</section>
</div>
</div>