<div class="row">
    <div class="col s4" ng-controller="PlayerController">
        <lista-players></lista-players>
    </div>

    <div class="col s7 offset-s1">
        <div class="row">
            <button class="btn">Guardar</button>
            <button onclick="window.history.back();" class="btn">Cancelar</button>
            <button class="green accent-4 btn">Confirmar y pagar</button>
        </div>
		<div class="card grey lighten-5 row center">
			<toolbar-reserva></toolbar-reserva>
		</div>
        <div class="row center-align" ng-controller="CourtController">
            <lista-pistas></lista-pistas>
        </div>
    </div>
</div>