<script>
    $(document).ready(function() {
        $('.datepicker').pickadate({
            selectMonths: false, // Creates a dropdown to control month
            selectYears: 1, // Creates a dropdown of 15 years to control year
            today: "Hoy",
            clear: "Limpiar",
            close: "Cerrar",
            format: 'yyyy-mm-dd',
            formatSubmit: 'yyyy-mm-dd'
        });
        var $input = $('.datepicker').pickadate()
        // Use the picker object directly.
        var picker = $input.pickadate('picker')
        picker.set('select', new Date());
        picker.set('value', new Date());
    });
</script>

<div class="row">
    <button class="btn col s12 offset-m1 m2" ng-click="guardarDatos()">Guardar</button>
    <button class="btn col s12  offset-m1 m2" ng-click="cargarDatos()">Cargar</button>
    <button onclick="window.history.back();" class="btn col s12  offset-m1 m2">Cancelar</button>
    <button class="green accent-4 btn col s12  offset-m1 m2" ng-click="confirmarDatos()" >Confirmar</button>
</div>
<div class="row card grey lighten-5 center">
    <div class="input-field col s12 m3 offset-m2">
        <input type="number" id="franjaHoraria" placeholder="Franja horaria" min="8" max="20" ng-model="reserva.franja" required>
        <label class="active" for="franjaHoraria">Franja horaria</label>
    </div>
    <div class="input-field col s12 m5">
        <input type="date" id="fecha" placeholder="Fecha de la reserva" ng-model="reserva.fecha" class="datepicker" required>
        <label class="active" for="fecha">Fecha de la reserva</label>
    </div>
</div>